# Archivos de VSCode
.vs
.vscode
.VSCodeCounter

# Entrenamientos y evaluaciones
trainings/
evaluations/
data/temp/
data/*_formatted/

# logs
logs/
wandb/

# Redes neuronales
*.pth
*.pt
*.engine
*.plan
*.onnx

# Archivos relacionados con python
__pycache__