# Archivos de VSCode
.vs
.vscode

# Entrenamientos y evaluaciones
trainings/
evaluations/

# logs
logs/
wandb/

# Redes neuronales
*.pth
*.pt
*.engine
*.plan
*.onnx

# Archivos relacionados con python
__pycache__